@model WMBA_4.ViewModels.StatsVM
@* @model IEnumerable<WMBA_4.ViewModels.PlayerStatsVM> *@

@{
    ViewData["Title"] = "Player Stats";
}

@* page navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-breadcrumble rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Report" asp-action="Index">Stats</a>
        </li>
    </ol>
</nav>
@* page navigation *@

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Player Stats</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Team Stats</button>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        @await Html.PartialAsync("_PlayerReportPartial", Model)
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        @await Html.PartialAsync("_TeamReportPartial", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        // Almacena el índice de la pestaña en el almacenamiento local cuando se va a ocultar una pestaña
        $('a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });

        // Obtiene el índice de la pestaña activa del almacenamiento local
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            // Activa la pestaña almacenada en el almacenamiento local
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }

        $('#myTab button').on('click', function (e) {
            e.preventDefault();
            var target = $(this).attr('data-bs-target');
            $(target).tab('show');
        });

        // No es necesario actualizar el almacenamiento local cuando se muestra una nueva pestaña,
        // ya que esto ya se hace en el evento 'hide.bs.tab'
    });
</script>






