@model WMBA_4.Models.ScorePlayer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ScorePlayer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InningNumber" class="control-label"></label>
                <input asp-for="InningNumber" class="form-control" />
                <span asp-validation-for="InningNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="H" class="control-label"></label>
                <input asp-for="H" class="form-control" />
                <span asp-validation-for="H" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RBI" class="control-label"></label>
                <input asp-for="RBI" class="form-control" />
                <span asp-validation-for="RBI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R" class="control-label"></label>
                <input asp-for="R" class="form-control" />
                <span asp-validation-for="R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrikeOut" class="control-label"></label>
                <input asp-for="StrikeOut" class="form-control" />
                <span asp-validation-for="StrikeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroundOut" class="control-label"></label>
                <input asp-for="GroundOut" class="form-control" />
                <span asp-validation-for="GroundOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PopOut" class="control-label"></label>
                <input asp-for="PopOut" class="form-control" />
                <span asp-validation-for="PopOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flyout" class="control-label"></label>
                <input asp-for="Flyout" class="form-control" />
                <span asp-validation-for="Flyout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Singles" class="control-label"></label>
                <input asp-for="Singles" class="form-control" />
                <span asp-validation-for="Singles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doubles" class="control-label"></label>
                <input asp-for="Doubles" class="form-control" />
                <span asp-validation-for="Doubles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Triples" class="control-label"></label>
                <input asp-for="Triples" class="form-control" />
                <span asp-validation-for="Triples" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HR" class="control-label"></label>
                <input asp-for="HR" class="form-control" />
                <span asp-validation-for="HR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BB" class="control-label"></label>
                <input asp-for="BB" class="form-control" />
                <span asp-validation-for="BB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HBP" class="control-label"></label>
                <input asp-for="HBP" class="form-control" />
                <span asp-validation-for="HBP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SB" class="control-label"></label>
                <input asp-for="SB" class="form-control" />
                <span asp-validation-for="SB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SAC" class="control-label"></label>
                <input asp-for="SAC" class="form-control" />
                <span asp-validation-for="SAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PA" class="control-label"></label>
                <input asp-for="PA" class="form-control" />
                <span asp-validation-for="PA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AB" class="control-label"></label>
                <input asp-for="AB" class="form-control" />
                <span asp-validation-for="AB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameID" class="control-label"></label>
                <select asp-for="GameID" class ="form-control" asp-items="ViewBag.GameID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlayerID" class="control-label"></label>
                <select asp-for="PlayerID" class ="form-control" asp-items="ViewBag.PlayerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

