@model WMBA_4.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Add Game</h1>

<hr />

<div class="form-group">
    <label for="DivisionID" class="control-label">Division</label>
    <select id="DivisionID" name="DivisionID" class="form-control" asp-items="@ViewBag.DivisionID" required>
        <option value="">Select a Division</option>
    </select>
</div>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!-- Add this line -->*@

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Team1">Home Team</label>
                <select id="Team1" name="Team1" class="form-control" asp-items="ViewBag.Teams"></select>
            </div>
            <div class="form-group">
                <label for="Team2">Visitor Team</label>
                <select id="Team2" name="Team2" class="form-control" asp-items="ViewBag.Teams"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                @*<input type="hidden" id="LocationName" name="LocationName" />*@
            </div>
            <div class="form-group">
                <label asp-for="SeasonID" class="control-label"></label>
                <select asp-for="SeasonID" class="form-control" asp-items="ViewBag.SeasonID"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameTypeID" class="control-label"></label>
                <select asp-for="GameTypeID" class="form-control" asp-items="ViewBag.GameTypeID"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        <input type="submit" value="Create and Save" class="btn btn-kelly mx-1" />
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

@*     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> *@

@*     <script>
        $(document).ready(function() {
            $('#LocationID').select2({
                tags: true
            });

            $('#LocationID').on('select2:select', function (e) {
                var isNew = e.params.data.id == e.params.data.text;
                if(isNew) {
                    var newLocation = e.params.data.text;
                    $.ajax({
                        url: '/Game/CreateLocation',  
                        type: 'POST',
                        data: { name: newLocation },
                        success: function(data) {
                            // Actualiza el valor del ID con el ID devuelto por el servidor
                            var option = $('#LocationID').children('[value="'+newLocation+'"]');
                            option.val(data.id);
                        }
                    });
                }
            });
                $('#LocationID').change(function() {
                var selectedLocationName = $(this).find('option:selected').text();
                $('#LocationName').val(selectedLocationName);
            });            
        });
    </script>     *@

<script>
    $(function() {  

        $('#Team1').empty().append('<option>Teams not found in that Division</option>');
        $('#Team2').empty().append('<option>Teams not found in that Division</option>');

        $('#DivisionID').change(function() {
            var divisionId = $(this).val();
            $.getJSON('/Game/GetTeams', { divisionId: divisionId }, function(teams) {
                //console.log(teams); // Log the teams to the console
                var team1Select = $('#Team1');
                var team2Select = $('#Team2');
                team1Select.empty();
                team2Select.empty();
                if (teams.$values.length === 0) {
                    team1Select.append('<option>Teams not found in that Division</option>');
                    team2Select.append('<option>Teams not found in that Division</option>');
                } else {
                    $.each(teams.$values, function(index, team) {
                        //console.log(team); // Log each team to the console
                        team1Select.append($('<option/>', { value: team.teamId, text: team.teamName }));
                        team2Select.append($('<option/>', { value: team.teamId, text: team.teamName }));
                    });
                }
            });
        });

        var now = new Date();
        var month = String(now.getMonth() + 1).padStart(2, '0'); //January is 0!
        var day = String(now.getDate()).padStart(2, '0');
        var year = now.getFullYear();
        var hours = String(now.getHours()).padStart(2, '0');
        var minutes = String(now.getMinutes()).padStart(2, '0');

        var dateTime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
        $('#Date').val(dateTime);
    });
</script>
}