@model WMBA_4.Models.Team

@{
    ViewData["Title"] = "Create";
}
<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="TeamPlayer">Import Teams and Players</h4>
    <div class="card-body">       
        <br />
       
        <form asp-action="InsertFromExcel" asp-controller="ImportTeamController" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label custom-file-label">Upload CSV File:</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="theExcel" id="theExcel">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Upload Data" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
   
</div>