@page
@model ConfirmEmailModel
@{
    Layout = "~/Views/Shared/_EnterPagePartial.cshtml";
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
