@page
@model ForgotPasswordConfirmation
@{
    Layout = "~/Views/Shared/_EnterPagePartial.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row justify-content-center text-center">
    <div class="col-md-7">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>