
/*Please here just add for all styles */

/*/////////////////////////////////////////font//////////////////////////////////////////*/
@import url("https://p.typekit.net/p.css?s=1&k=igy8ywi&ht=tk&f=32897.32904&a=39545793&app=typekit&e=css");

@font-face {
    font-family: "proxima-soft";
    src: url("https://use.typekit.net/af/a4e72f/00000000000000003b9b3032/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a4e72f/00000000000000003b9b3032/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a4e72f/00000000000000003b9b3032/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "proxima-soft";
    src: url("https://use.typekit.net/af/2657d4/00000000000000003b9b3038/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2657d4/00000000000000003b9b3038/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2657d4/00000000000000003b9b3038/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

.tk-proxima-soft {
    font-family: "proxima-soft",sans-serif;
}

/*//////////////////////////////////////////////roo#A4A4A4t//////////////////////////////////////////////*/
:root {
    /*////background colors////*/
    --bg-kelly: #4CBB17;
    --bg-light-kelly: #5EC22E;
    --bg-white: #FFFFFF;
    --bg-light-grey: #E4E4E4;
    --bg-light-grey2: #DADADA;
    --bg-dark-blue: #23314E;
    /*////font colors////*/
    --ft-black: #000000;
    --ft-light-gray: #A4A4A4;
    --ft-white: #ffffff;
    --ft-kelly: #4CBB17;
    /*////font sizes////*/
    /*px*/
    --ft-l: 25px;
    --ft-m: 20px;
    --ft-s: 15px;
    /*////rem size////*/
    --ft-r-l: 2rem;
    --ft-r-m: 1.8rem;
    --ft-r-s: 1.5rem;
    /*/////heights/////*/
    --h100: 100px;
}

/*/////////////////////////////background color/////////////////////////////////////*/
.bg-kelly{
    background-color: var(--bg-kelly);
}

.bg-white{
    background-color: var(--bg-white);
}

.bg-light-grey {
    background-color: var(--bg-light-grey);
}


/*/////////////////////////////font color/////////////////////////////////////////*/
.ft-black {
   color: var(--ft-black);
}
.ft-white{
    color: var(--ft-white);
}
.ft-kelly {
    color: var(--ft-kelly);
}

.ft-light-gery {
    color: var(--ft-light-gray);
}

/*/////////////////////////////border color/////////////////////////////////////*/
.border-kelly{
    border: 0.8px solid var(--bg-kelly);    
}

/*/////////////////////////////border shapes/////////////////////////////////////*/
.rounded-end-circle {
    background-color: var(--bg-light-grey2);
    padding: 10px 15px 10px 5px;
    border-radius: 0px 30px 30px 0px;
}
/*/////////////////////////////////font decoration///////////////////////////////////*/
.no-list-decor {
    list-style: none;
}

.t-center{
    text-align: center;
}

/*//////////////////////////////////padding//////////////////////////////////////////*/
.px-6 {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
}


/*/////////////////////////////////classes-flex//////////////////////////////////////*/
.p-in-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.f-in-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*//////////////////////////////////classes///////////////////////////////////////////*/

.logo {
    width: 160px;
    margin-left: 30px;
}

.btn-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-kelly{
    padding: 12px 35px;
    border: none;
    background-color: var(--bg-kelly);
    border-radius: 30px;
}

.btn-kelly:hover{
    cursor: pointer;
    background-color: var(--bg-light-kelly) ;
}

.btn-text {
    color: var(--ft-white);
}

.material-symbols-outlined{
    color: var(--ft-gray) ;
}

.material-symbols-outlined:hover {
    color: var(--ft-kelly);
}

.text-no-deco {
    text-decoration: none;
}

.side-bar-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
}

.side-bar-grid-item {
    padding: 20px; 
    text-align: center;
}

.side-bar {
    background-color: var(--bg-kelly);
    overflow: auto;
    min-height: 100vh;
}

.header-height{
    height: 100px;
}

.nav-text{
    color: var(--ft-black);
    font-size: 18px;
}

div > .nav-hover:hover {
    background-color: var(--bg-dark-blue);
    color: var(--ft-white);
}

.btn-toggle {
    position: absolute;
    top: 130px;
    left: 225px;
    
}

.rotate-icon {
    transition: transform 0.5s ease-in-out;
}

.nav-quick-button{
    display: flex;
}

/*///////////////////////////////////////////////ids////////////////// /////////////////////////*/