<div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
        <div>
            <h6 class="text-center ft-grey">Welland Minor Baseball Association Inc. © 2024</h6>
            <p class="text-center ft-grey">
                Welland Minor Baseball Association Inc. has been serving the youth of Welland and the surrounding communities since 1969.
                We are the largest not-for-profit youth baseball organization in Welland.
            </p>
        </div>
    </div>
</div>
