<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMBA_4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navigation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-light-grey">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">
            <img src="~/images/WMBA.png" alt="WBMA logo" class="logo" />
        </a>
        <!-- Sidebar Toggle-->
        @* <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> *@
        <!-- Go to Create Team-->
        <div class=" d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 btn-kelly">
            <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Create">Go to Add Team</a>
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #4CBB17;"><i class="fas fa-user fa-fw ft-kelly"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <partial name="_LoginPartial" />
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion bg-kelly" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav nav-text">
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Division" asp-action="Index">Divisions</a>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Player" asp-action="Index">Players</a>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Game" asp-action="Index">Game Assignment</a>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Lineup" asp-action="Index">Lineup</a>
                    </div>
                </div>
            </nav>
            <div class="btn-toggle border border-start-0 angle">
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!" onclick="rotateIcon()">
                    <i id="slideInAndOut" class="fa-solid fa-angles-right rotate-icon"></i>
                </button> 
            </div>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-6 py-5">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div>
                            <h6 class="t-center ft-light-gery">Welland Minor Baseball Association Inc. © 2024</h6>
                            <p class="ft-light-gery">
                                Welland Minor Baseball Association Inc. has been serving the youth of Welland and the surrounding communities since 1969. We are the largest not-for-profit youth baseball organization in Welland.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidenav.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
