<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMBA_4</title>
    @* favicon *@
    <link rel="icon" href="~/WMBA-icon-36x36.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/WMBA-icon-36x36.png" type="image/x-icon" />
    @* bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutStyle.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" /> *@
    @* google icons *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    @* fontawesome *@
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-light-grey d-flex justify-content-between">
        <!-- Navbar Brand-->
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/WMBA.png" alt="WBMA logo" class="logo" /></a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-1 me-5 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars ft-kelly fs-5"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            @* <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch">
            <button class="btn bg-kelly" id="btnNavbarSearch" type="button"><i class="fas fa-search ft-white"></i></button>
            </div> *@
        </form>
        <div class="mb-0">
            <!-- Setting-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown d-flex">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-gear ft-kelly"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
                        @* <li class="nav-item no-list-decor dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">City</a>
                        </li> *@
                        <li class="nav-item no-list-decor dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Division" asp-action="Index">Division</a>
                        </li>
                        @* <li class="nav-item no-list-decor dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Season Game</a>
                        </li> *@
                    </ul>
                    @* <!-- User-->
                    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw ft-kelly"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <partial name="_LoginPartial" />
                    </ul>
                    </li>
                    </ul>
                    </li>*@
            </ul>
        </div>

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion bg-sidenav" id="sidenavAccordion">
                @* <div class="custom-menu">
                <button class="border border-0 me-4 me-lg-0 bg-transparent" id="sidebarToggle" href="#!"><i class="fas fa-bars ft-kelly fs-4"></i></button>
                </div> *@
                <div class="sb-sidenav-menu">
                    <div class="nav nav-text">
                        <a>Home</a>
                        <div class="sb-sidenav-menu-heading">Quick Access</div>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Team" asp-action="GoToImportPlayers">Import Teams</a>
                        @* <a class="nav-link nav-hover" asp-area="" asp-controller="Lineup" asp-action="Index">Scorekeeper</a> *@
                        <div class="sb-sidenav-menu-heading">User Access</div>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Player" asp-action="Index">Players</a>
                        <a class="nav-link nav-hover" asp-area="" asp-controller="Game" asp-action="Index">Game Assignment</a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-6 py-6">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto border-top">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div>
                            <h6 class="text-center ft-grey">Welland Minor Baseball Association Inc. © 2024</h6>
                            <p class="text-center ft-grey">
                                Welland Minor Baseball Association Inc. has been serving the youth of Welland and the surrounding communities since 1969.
                                We are the largest not-for-profit youth baseball organization in Welland.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidenav.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("#ImportView").click(function () {
                window.location.href = '@Url.Action("GoToImportPlayers", "Team")';
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
