<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMBA_4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navigation.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <!-- Top Section -->

    <div id="topSection" class="text-white text-center d-flex">
        <button class="p-3 bg-dark-subtle border border-0"><span>pre</span></button>
        <ul>
            <li class="">
                <span>Game 1</span>
            </li>
        </ul>
        <button class="p-3 bg-dark-subtle border border-0"><span>next</span></button>
        <button class="p-3 bg-dark-subtle border border-0"><span>All Games</span></button>
    </div>

    <!-- Header -->

    <nav class="sb-topnav navbar navbar-expand header-height navbar-dark bg-white">
        <!-- Logo-->
        <a class="navbar-brand ps-3" href="#">
            <img src="~/images/WMBA.png" alt="WBMA logo" class="logo" />
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn bg-kelly" id="btnNavbarSearch" type="button"><i class="fas fa-search ft-white"></i></button>
            </div>
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #4CBB17;"><i class="fas fa-user fa-fw ft-kelly"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <partial name="_LoginPartial" />
                </ul>
            </li>
        </ul>
    </nav>
    

    <!-- Side Bar -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link" asp-area="" asp-controller="Division" asp-action="Index">Divisions</a>
                        <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                        <a class="nav-link" asp-area="" asp-controller="Player" asp-action="Index">Players</a>
                        <a class="nav-link" asp-area="" asp-controller="Game" asp-action="Index">Game Assignment</a>
                        <a class="nav-link" asp-area="" asp-controller="Lineup" asp-action="Index">Lineup</a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>

        <!-- main -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody();
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Scripts -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
