<div class="sb-sidenav-menu">
    <div class="nav nav-text">
        <div class="sb-sidenav-close px-4 pt-4 text-end invisible" style="font-size: 12px;">
            <div data-bs-theme="dark">
                <button type="button" class="btn-close" aria-label="Close" id="sidebar-close"></button>
            </div>
        </div>
        <div class="sb-sidenav-menu-heading">Quick Access</div>
        <a class="nav-link nav-hover" asp-area="" asp-controller="Team" asp-action="GoToImportPlayers">Import Teams</a>
        <a class="nav-link nav-hover" asp-area="" asp-controller="Report" asp-action="Index">Reports</a>
        <div class="sb-sidenav-menu-heading">User Access</div>
        <a class="nav-link nav-hover" asp-area="" asp-controller="Division" asp-action="Index">Division</a>
        <a class="nav-link nav-hover" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
        <a class="nav-link nav-hover" asp-area="" asp-controller="Player" asp-action="Index">Players</a>
        <a class="nav-link nav-hover" asp-area="" asp-controller="Game" asp-action="Index">Game Assignment</a>
        <a class="nav-link nav-hover" asp-area="" asp-controller="ScorePlayer" asp-action="Index">Scorekeeper</a>
    </div>
</div>