@model WMBA_4.Models.Player

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h3 class="text-black">@Model.FirstName @Model.LastName</h3>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4 mb-3">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.DivisionID" class="control-label"></label>
                <input id="DivisionName" asp-for="Team.Division.DivisionName" class="form-control" disabled />
                <span asp-validation-for="Team.DivisionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamID" class="control-label"></label>
                <select id="TeamID" asp-for="TeamID" class="form-control form-select" asp-items="ViewBag.TeamID"></select>
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="JerseyNumber" class="control-label"></label>
                    <input asp-for="JerseyNumber" class="form-control" />
                    <span asp-validation-for="JerseyNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemberID" class="control-label"></label>
                    <input asp-for="MemberID" class="form-control" disabled />
                    <span asp-validation-for="MemberID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
            <input type="submit" value="Edit and Save" class="btn btn-kelly mx-1" />
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            var teamId = $('#TeamID').val();
            $.ajax({
                url: '/Player/GetDivisionName',
                type: 'GET',
                data: { teamId: teamId },
                success: function (response) {
                    $('#DivisionName').val(response);
                },
                error: function () {
                    $('#DivisionName').val('Error fetching division');
                }
            });

           
            $('#TeamID').change(function () {
                var teamId = $(this).val();
                $.ajax({
                    url: '/Player/GetDivisionName',
                    type: 'GET',
                    data: { teamId: teamId },
                    success: function (response) {
                        $('#DivisionName').val(response);
                    },
                    error: function () {
                        $('#DivisionName').val('Error fetching division');
                    }
                });
            });
        });
    </script>
}