@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Season 2024</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card text-black mb-4">
                    <div class="card-body d-flex justify-content-around">
                        <span>Total Teams</span>
                        <span>@ViewBag.TeamCount</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" asp-area="" asp-controller="Team" asp-action="Index">View Teams</a>
                        <div class="small px-2 text-black"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card text-black mb-4">
                    <div class="card-body d-flex justify-content-around">
                        <span>Total Player</span>
                        <span>@ViewBag.PlayerCount</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" asp-area="" asp-controller="Player" asp-action="Index">View Players</a>
                        <div class="small px-2 text-black"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card text-black mb-4">
                    <div class="card-body d-flex justify-content-around">
                        <span>Total Games</span>
                        <span>@ViewBag.GameCount</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" asp-area="" asp-controller="Game" asp-action="Index">View Games</a>
                        <div class="small px-2 text-black"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Import Teams
                    </div>
                    <div class="card-body">
                        <form asp-action="ImportTeam" asp-controller="Team" method="post" enctype="multipart/form-data">
                            <div class="row justify-content-evenly">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label custom-file-label">Upload Excel File:</label>
                                        <div class="input-group mb-3">
                                            <input type="file" class="form-control" name="theExcel" id="theExcel">
                                        </div>
                                        <div>
                                            Files must be less than 100 MB.<br />
                                            Allowed file types: .xls, .xlsx
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Upload Data" class="btn btn-kelly" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <p>
                                        Put all the data to upload into the first columns of the Excel spreadsheet.<br />
                                        Start the data in the second row of your spreadsheet to leave room for the <br />headings "ID","First Name","Last Name","Member ID","Season","Division", "Club" and "Team" in the first row.<br />
                                        The program looks for these column headings to help make sure you uploaded the correct file.
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>